<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domcj.seccache.seccache.mapper.UserMapper">
    <cache type="com.domcj.seccache.seccache.util.RedisCache">
        <property name="eviction" value="LRU" />
        <property name="flushInterval" value="600000" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>
    <select id="getUserById" parameterType="java.lang.Long" resultType="User">
        select * from user where id=#{id, jdbcType=BIGINT}
    </select>
</mapper>
